{% extends "layout.j2" %}

{% block main %}
  <div id="browse" style="display: block">
    <nav class="navbar">
    <h2><strong>Browse Organizations</strong></h2>
    <a href="/organizations/add" class="btn btn-success">Add Organization</a>
    </nav>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
      </tr>

      <tbody>
    {% for org in organizations %}
    <tr>
        {% for key in org.keys() %}
        <td>{{org[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <p>&nbsp;</p>
  </div> <!-- browse -->

{% endblock %}
