{% extends "layout.j2" %}

{% block main %}

<div id="browse" style="display: block">
  <nav class="navbar">
    <h2><strong>Browse Regions and Varieties</strong></h2>
  </nav>

  <div class="input-group mb-3" style="display: block">
        <button class="btn btn-success" type="button">View Suitable Varieties by Region</button>
        <select class="form-select" name="region_id" id="region_id">
          <option value="0" selected>All Regions</option>
          {% for region in regions %}
          <option value="{{ region['region_id'] }}"> {{ region['region'] }}</option>
          {% endfor %}
        </select>
  </div>

  <div class="input-group mb-3" style="display: block">
    <form id="searchregion" action="/regions-varieties/" method="post">
      <fieldset class="fields">
        <input type="submit" value="View Suitable Varieties by Region" name="region_variety_search" class="btn btn-success">
        <select class="form-select" name="region_id" id="region_id">
          <option value="0" selected>All Regions</option>
          {% for region in regions %}
          <option value="{{ region['region_id'] }}"> {{ region['region'] }}</option>
          {% endfor %}
        </select>
      </fieldset>
    </form>
  </div>

  <div id="browse" style="display: block">
    <table class="table table-striped">
      <tr>
        <th>Plant Name</th>
        <th>Rust Resistance</th>
        <th>Nematode Resistance</th>
        <th>Altitude</th>
        <th>Rainfall</th>
        <th>Temperature</th>
        <th>Region</th>
      </tr>

      <tbody>
        {% for region_variety in regions_varieties %}
        <tr>
          {% for key in region_variety.keys() %}
          <td>{{ region_variety[key] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>

  {% endblock %}