{% extends "layout.j2" %}

{% block main %}
  <div id="add" style="display: block">
    <h2><strong>Add Region</strong></h2>
    <p>&nbsp;</p>
  </div>

  <div id="insert" style="display: block">
    <form id="insertRegion" action="/regions/add" method="post">
      <fieldset class="fields">
        <label> Region </label> <input type="text" class="form-control" id="name" name="name" required>

      <label>Altitude</label> <select class="form-select" name="altitude" id="altitude">
        <option value="low">low</option>
        <option value="med" selected="selected">med</option>
        <option value="high">high</option>
      </select>

        <label> Soil Type </label> <select class="form-select" name="soil" id = "soil">
          <option value="andosol" selected>andosol</option>
          <option value="red latosol">red latosol</option>
          <option value="red-yellow latosol">red-yellow latosol</option>
        </select>

        <label>Rainfall</label> <select class="form-select" name="rainfall" id="rainfall">
        <option value="low">low</option>
        <option value="med" selected="selected">med</option>
        <option value="high">high</option>
        </select>

        <label>Temperature</label> <select class="form-select" name="temperature" id="temperature">
        <option value="low">low</option>
        <option value="med" selected="selected">med</option>
        <option value="high">high</option>
        </select>

        <label>Country</label> <select class="form-select" name="country_id" id="country_id">
            {% for country in countries %}
                {% if country['country_id'] == 1 %}
                    <option value="{{ country['country_id'] }}" selected> {{country['country']}}</option>
                {% else %}
                    <option value="{{ country['country_id'] }}"> {{country['country']}}</option> 
                {% endif %}
            {% endfor %}
        </select>

      </fieldset><p>&nbsp;</p>
      <input class="btn btn-primary" type="submit" name="add_region" id="add_region" value="Add Region">
      <a href='/regions'><input class="btn btn-primary" type="button" value="Cancel"></a>
    </form>
    <!--add new region-->
  </div>

{% endblock %}

