{% extends "layout.j2" %}

{% block main %}
  <div id="add" style="display: block">
    <h2><strong>Add a Region as Suitable for a Variety</strong></h2>
    <p>&nbsp;</p>
  </div>

  <div id="insert" style="display: block">
    <form id="insertRegionVariety" action="/regions-varieties/add" method="post">
      <fieldset class="fields">
        
        <label> Region</label> <select class="form-select" name="region_id" id="region_id">
          {% for region in regions %}
            {% if region['region_id'] == 1 %}
              <option value="{{ region['region_id'] }}" selected> {{region['region']}}</option>
            {% else %}
              <option value="{{ region['region_id'] }}"> {{region['region']}}</option> 
            {% endif %}
          {% endfor %}
        </select>

        <label> Varieties </label> <select class="form-select" name="plant_id" id="plant_id">
          {% for plant in plants %}
            <option value="{{ plant['plant_id'] }}"> {{plant['plant_name']}}</option> 
          {% endfor %}
        </select>
      </fieldset><p>&nbsp;</p>
  <input type="submit" value="Submit" name="region_variety_add" class="btn btn-primary">
    <a href='/regions-varieties'><input class="btn btn-primary" type="button" value="Cancel"></a>
  </form>
  </div>


{% endblock %}
