{% extends "layout.j2" %}

{% block main %}
  <div id="add" style="display: block">
    <h2><strong>Update the Relationship Between a Region and Variety</strong></h2>
    <p>&nbsp;</p>
  </div>

  <div id="update" style="display: block">
    <form id="updateRegionVariety" action="/regions-varieties/edit/{{ result[0].region_plant_id }}" method="post">
      <fieldset class="fields">
      <label><strong>Region-Variety ID: {{ result[0].region_plant_id }} </strong></label><br>

        <label> Region</label> <select class="form-select" name="region_id" id="region_id">
          {% for region in regionlist %}
            {% if region['region_id'] == result[0].region_id %}
              <option value="{{ region['region_id'] }}" selected> {{region['region']}}</option>
            {% else %}
              <option value="{{ region['region_id'] }}"> {{region['region']}}</option> 
            {% endif %}
          {% endfor %}
        </select>

        <label> Varieties </label> <select class="form-select" name="plant_id" id="plant_id">
          {% for plant in plantlist %}
          {% if plant['plant_id'] == result[0].plant_id %}
            <option value="{{ plant['plant_id'] }}" selected> {{plant['plant_name']}}</option>
          {% else %}
            <option value="{{ plant['plant_id'] }}"> {{plant['plant_name']}}</option>
            {% endif %} 
          {% endfor %}
        </select>
      </fieldset><p>&nbsp;</p>
  <input type="submit" value="Submit" name="edit_regions_varieties" class="btn btn-primary">
    <a href='/regions-varieties'><input class="btn btn-primary" type="button" value="Cancel"></a>
  </form>
  </div>


{% endblock %}
