{% extends "layout.j2" %}

{% block main %}
<div id="browse" style="display: block">

  <nav class="navbar">
    <h2><strong>Browse Types</strong></h2>
    <a href="/types/add" class="btn btn-success">Add Type</a>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>

    <tbody>
      {% for type in types %}
      <tr>
        {% for key in type.keys() %}
        <td>{{type[key]}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</div> <!-- browse -->
{% endblock %}